<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        html,
        body {
            height: 100svh;
            margin: 0;
            background-color: #212121;
            color: white;
            display: grid;
            place-items: center;
        }

        form {
            background-color: blueviolet;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            border-radius: 1rem;
        }
    </style>
</head>
<body>
    <form action="/process" method="POST">
        <input type="text" name="movieName" id="movieName" placeholder="Movie Name">
        <br>
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>